{
  "env": {
    "es6": true,
    "node":true,
    "browser": true
  },
  "globals":{
    "localStorage":true,
    "__DEV__":true,
    "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__":true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "plugin:react/recommended"
  ],
  "rules": {
    // Possible Errors
    "comma-dangle": [2, "never"],//对象字面量项尾不能有逗号
    "computed-property-spacing": [2, "never"],//是否允许计算后的键名什么的
    "no-cond-assign": 2,//禁止在条件表达式中使用赋值语句
    "no-console": 1,//禁止使用console
    "no-constant-condition": 2,//禁止在条件中使用常量表达式 if(true) if(1)
    "no-control-regex": 2,//禁止在正则表达式中使用控制字符
    "no-debugger": 2,//禁止使用debugger
    "no-dupe-keys": 2,//在创建对象字面量时不允许键重复 {a:1,a:1}
    "no-empty": 2,//块语句中的内容不能为空
    "no-empty-character-class": 2,//正则表达式中的[]内容不能为空
    "no-ex-assign": 2,//禁止给catch语句中的异常参数赋值
    "no-extra-boolean-cast": 2,//禁止不必要的bool转换
    "no-extra-parens": 0,//禁止非必要的括号
    "no-extra-semi": 2,//禁止多余的冒号
    "no-func-assign": 2,//禁止重复的函数声明
    "no-inner-declarations": 2,//禁止在块语句中使用声明（变量或函数）
    "no-invalid-regexp": 2,//禁止无效的正则表达式
    "no-irregular-whitespace": 2,//不能有不规则的空格
    "no-negated-in-lhs": 2,//in 操作符的左边不能有!
    "no-obj-calls": 2,//不能调用内置的全局对象，比如Math() JSON()
    "no-regex-spaces": 2,//禁止在正则表达式字面量中使用多个空格 /foo bar/
    "no-reserved-keys": 0,
    "no-sparse-arrays": 2,//禁止稀疏数组， [1,,2]
    "no-unreachable": 2,//不能有无法执行的代码
    "use-isnan": 2,//禁止比较时使用NaN，只能用isNaN()
    "valid-jsdoc": 0,//jsdoc规则
    "valid-typeof": 2,//必须使用合法的typeof的值
    // Best Practices
    "block-scoped-var": 2,//块语句中使用var
    "complexity": 0,//循环复杂度
    "consistent-return": 0, //return 后面是否允许省略
    "curly": 2,//必须使用 if(){} 中的{}
    "default-case": 2,//switch语句最后必须有default
    "dot-notation": 2,//避免不必要的方括号
    "eqeqeq": 2,//必须使用全等
    "guard-for-in": 2,//for in循环要用if语句过滤
    "no-alert": 1,//禁止使用alert confirm prompt
    "no-caller": 2,//禁止使用arguments.caller或arguments.callee
    "no-confusing-arrow": 2,
    "no-div-regex": 2,//不能使用看起来像除法的正则表达式/=foo/
    "no-else-return": 2,//如果if语句里面有return,后面不能跟else语句
    "no-eq-null": 2,//禁止对null使用==或!=运算符
    "no-eval": 2,//禁止使用eval
    "no-extend-native": 2,//禁止扩展native对象
    "no-extra-bind": 2,//禁止不必要的函数绑定
    "no-fallthrough": 2,//禁止switch穿透
    "no-floating-decimal": 2,//禁止省略浮点数中的0 .5 3.
    "no-implied-eval": 2,//禁止使用隐式eval
    "no-iterator": 2,//禁止使用__iterator__ 属性
    "no-labels": 2,//禁止标签声明
    "no-lone-blocks": 2,//禁止不必要的嵌套块
    "no-loop-func": 2,//禁止在循环中使用函数（如果没有引用外部变量不形成闭包就可以）
    "no-multi-spaces": 2,//不能用多余的空格
    "no-multi-str": 2,//字符串不能用\换行
    "no-native-reassign": 2,//不能重写native对象
    "no-new": 2,//禁止在使用new构造一个实例后不赋值
    "no-new-func": 2,//禁止使用new Function
    "no-new-wrappers": 2,//禁止使用new创建包装实例，new String new Boolean new Number
    "no-octal": 2,//禁止使用八进制数字
    "no-octal-escape": 2,//禁止使用八进制转义序列
    "no-process-env": 0,//禁止使用process.env
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-void": 0,
    "no-warning-comments": 2,
    "no-with": 2,
    "prefer-arrow-callback": 2,
    "radix": 0,//parseInt必须指定第二个参数
    "vars-on-top": 0,
    "wrap-iife": 2,
    "yoda": 2,
    // Strict Mode
    "strict": [2, "global"],
    // Variables
    "prefer-const": 2,
    "no-catch-shadow": 2,//禁止catch子句参数与外部作用域变量同名
    "no-const-assign": 2,//禁止给类赋值
    "no-delete-var": 2,//不能对var声明的变量使用delete操作符
    "no-label-var": 2,//label名不能与var声明的变量名相同
    "no-shadow": 2,//外部作用域中的变量不能与它所包含的作用域中的变量或参数同名
    "no-shadow-restricted-names": 2,//严格模式中规定的限制标识符不能作为声明时的变量名使用
    "no-undef": 2,//不能有未定义的变量
    "no-undef-init": 2,//变量初始化时不能直接给它赋值为undefined
    "no-undefined": 2,//不能使用undefined
    "no-unused-vars": 1,//不能有声明后未被使用的变量或参数
    "no-use-before-define": 2,
    "no-var": 2,
    // Stylistic Issues
    "indent": [0, 2, {
      "SwitchCase": 1,
      "ObjectExpression": 1
    }],
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "brace-style": 2,
    "camelcase": 0,
    "comma-spacing": 2,
    "comma-style": 2,
    "consistent-this": 0,
    "eol-last": 2,
    "func-names": 0,
    "func-style": 0,
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "max-nested-callbacks": 0,
    "new-cap": 2,
    "new-parens": 2,
    "no-array-constructor": 2,//禁止使用数组构造器
    "no-inline-comments": 0,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "semi-spacing": [2, {
      "before": false,
      "after": true
    }],
    "no-spaced-func": 2,
    "no-ternary": 0,
    "no-trailing-spaces": 2,//一行结束后面不要有空格
    "no-multiple-empty-lines": 2,
    "no-underscore-dangle": 0,
    "one-var": 0,
    "operator-assignment": [2, "always"],
    "padded-blocks": [2, { "blocks": "never", "classes": "never", "switches": "never" }],
    "quotes": [2, "single"],
    "quote-props": [2, "as-needed"],
    "semi": [2, "always"],
    "sort-vars": [0, {"ignoreCase": true}],//变量声明时排序
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "spaced-comment": 2,
    "wrap-regex": 0,
    // Legacy
    "max-depth": 0,
    // 规定一行最大的长度
    "max-len": [0, 120, {
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreComments": true
    }],
    "max-params": 0,
    "max-statements": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 2,
    "prefer-template": 2,
    "template-curly-spacing": [2, "never"],
    //其余的
    "no-bitwise": 0,//禁止使用按位运算符
    //只是用来占位置的
    "zxt":0
  }
}
