.group-4in2{
  position:relative;

  display:flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top:1.9rem;
  padding-bottom: 1.9rem;
  height:8rem;
  .team-4{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height:2.09rem;

    .team-icon{
      width:.4rem;
      min-height:.26rem;
      background:#333d46;
      img{
        display:block;
        width:100%;
        height:auto;
      }
    }
  }

  .link-up{
    width:0;
    height:1.9rem;
    border-left:2px solid #333d46;
  }
  .link-down{
    width:0;
    height:1.8rem;
    border-left:2px solid #333d46;
  }

  .link-row{
    position:absolute;
    top:50%;


    width:.2rem;
    border-top:1px solid #333d46;
    border-bottom:1px solid #333d46;


  }

  &.left{
    .link-row{
      left:50%;
      transform:translateX(-1px) translateY(-1px);
    }
  }

  &.right{
    .link-row{
      right:50%;
      transform:translateX(1px) translateY(-1px);
    }
  }
}
