.group-16in8{
  position:relative;

  display:flex;
  flex-direction: column;

  justify-content: space-between;
  margin:.4rem 0;

  width:1.2rem;
  height:1.6rem;
  .team-16{
    position:relative;
    width:1rem;
  }
  .link-up{
    position:absolute;
    top:.2rem;
    width:.18rem;
    height:.48rem;
    border-top:2px solid #333d46;
  }
  .link-down{
    position:absolute;
    bottom:.44rem;
    width:.18rem;
    height:.48rem;
    border-bottom:2px solid #333d46;
  }
  .link-row{
    position:absolute;
    top:.2rem + .48rem;

    width:.2rem;
    height:0;
    border-top:1px solid #333d46;
    border-bottom:1px solid #333d46;
    background:#333d46;
    transform:translate(-1px);
  }
  &.left{
    align-items: flex-start;
    .group-16in8-team{
      justify-content: flex-start;
    }
    .link-up{
      right:0;
      border-right:2px solid #333d46;
    }
    .link-down{
      right:0;
      border-right:2px solid #333d46;
    }
    .link-row{
      right:0;
    }
  }
  &.right{
    align-items: flex-end;
    .group-16in8-team{
      justify-content: flex-end;
    }
    .link-up{
      left:0;
      border-left:2px solid #333d46;
    }
    .link-down{
      left:0;
      border-left:2px solid #333d46;
    }
    .link-row{
      left:0;
    }
    .team-num{
      order:2;
    }
    .team-icon{
      order:1;
    }
  }
}

.group-16in8-team{
  width:1rem;

  display:flex;
  align-items: flex-start;
  font-size:.16rem;
  .team-num{
    width:.2rem;
    line-height:.24rem;
  }
  .team-icon{
    width:.6rem;

    display:flex;
    flex-direction: column;
    align-items: center;

    line-height:2;
    white-space: nowrap;

    img{
      width:.36rem;
      height:.24rem;
    }
  }
}
