.group-16in8{
  position:relative;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom:.3rem;

  width:1.2rem;
  height:1.6rem;
  .team-16{
    position:relative;

    width:1.2rem;
  }
  .group-16in8-team{
    width:1rem;

    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-size:.20rem;
    .team-num{
      line-height:.24rem;
    }
    img{
      width:.36rem;
      height:.24rem;
    }
    .team-icon{
      width:.72rem;

      display:flex;
      flex-direction: column;
      align-items: center;

      line-height:2;
      white-space: nowrap;
    }
  }
  &.left{
    .link-up{
      position:absolute;
      top:.2rem;
      left:1rem;

      width:.18rem;
      height:.48rem;
      border-top:2px solid #333d46;
      border-right:2px solid #333d46;
    }
    .link-down{
      position:absolute;
      bottom:.44rem;
      left:1rem;

      width:.18rem;
      height:.48rem;
      border-bottom:2px solid #333d46;
      border-right:2px solid #333d46;
    }
    .link-row{
      position:absolute;
      right:-.2rem;
      top:.2rem + .48rem;

      width:.2rem;
      height:2px;
      background:#333d46;

      transform:translate(-1px);
    }
  }
  &.right{
    .link-up{
      position:absolute;
      top:.2rem;
      right:1rem;

      width:.18rem;
      height:.48rem;
      border-top:2px solid #333d46;
      border-left:2px solid #333d46;
    }
    .link-down{
      position:absolute;
      bottom:.44rem;
      right:1rem;

      width:.18rem;
      height:.48rem;
      border-bottom:2px solid #333d46;
      border-left:2px solid #333d46;
    }
    .link-row{
      position:absolute;
      left:-.2rem;
      top:.2rem + .48rem;

      width:.2rem;
      height:2px;
      background:#333d46;

      transform:translate(-1px);
    }
  }
}