.world-cup-knockout{
  color:#fff;
  min-height: 100%;
  background:url('../images/part2-bg.jpg');
  background-size:100% auto;

  font-size:.24rem;



}

.knockout_content{
  display:flex;
  align-items: center;
}

.groups-left-16in8{
    width:1.2rem;
}
.groups-left-8in4{
    width:.8rem;
}
.group-left-4in2{
    width:.4rem;
}
.group-1-center{
  width:1.6rem;
}
.groups-right-16in8{
  width:1.2rem;
}
.groups-right-8in4{
  width:.8rem;
}
.group-right-4in2{
  width:.4rem;
}
