.world-cup-knockout{
  color:#fff;
  min-height: 100%;
  background:url('../images/part2-bg.jpg');
  background-size:100% auto;

  font-size:.24rem;



}

.knockout_content{
  margin-top:.4rem;

  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.groups-left-16in8{
  width:1.2rem;
  flex-basis: 1.2rem;
  flex-shrink:0;
  flex-grow:0;
}
.groups-left-8in4{
    width:.8rem;
  flex-basis: .8rem;
  flex-shrink:0;
  flex-grow:0;
}
.group-left-4in2{
    width:.4rem;
  flex-basis: .4rem;
  flex-shrink:0;
  flex-grow:0;
}
.group-1-center{
  width:1.6rem;
  flex-basis: 1.6rem;
  flex-shrink:0;
  flex-grow:0;
}
.group-right-16in8{
  box-sizing: border-box;
  width:1.2rem;
  flex-basis: 1.2rem;
  flex-shrink:0;
  flex-grow:0;
  overflow: hidden;
}
.group-right-8in4{
  width:.8rem;
  flex-basis: .8rem;
  flex-shrink:0;
  flex-grow:0;
}
.group-right-4in2{
  width:.4rem;
  flex-basis: .4rem;
  flex-shrink:0;
  flex-grow:0;
}
