


.fiveday {
  margin-bottom: 10px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 2px 5px 2px #ddd;
  background: #fff;
}

.nextday {
  margin-bottom: 10px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 2px 5px 2px #ddd;
  background: #fff;
}

.threeday {
  margin-bottom: 10px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 2px 5px 2px #ddd;
  background: #fff;
}

.risen {
  margin-bottom: 10px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 2px 5px 2px #ddd;
  background: #fff;
}

[id^=text] {
  background: #efeded;
  padding: 5px;
  border-radius: 5px;
}

#main1 {
  margin: 0 auto;
  width: 300px;
  height: 250px;
}

#text1 {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  font-size: 12px;
  span {
    font-weight: bold;
    font-size: 14px;
  }
}

#main2 {
  margin: 0 auto;
  width: 300px;
  height: 250px;
}

#text2 {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  font-size: 12px;
  span {
    font-weight: bold;
    font-size: 14px;
  }
}

#main3 {
  margin: 0 auto;
  width: 300px;
  height: 250px;
}

#text3 {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  font-size: 12px;
  span {
    font-weight: bold;
    font-size: 14px;
    &.jyrChange{
      font-size: 12px;
      font-weight: normal;
    }
  }
}

#main4 {
  margin: 0 auto;
  width: 300px;
  height: 250px;
}

#text4 {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  font-size: 12px;
  span {
    font-weight: bold;
    font-size: 14px;
    &.jyrChange{
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.applyS{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.8);
  z-index:5;
  input{
    display:block;
    border:none;
    outline:none;
  }
  .register{
    width: 300px;
    margin: 60px auto 0;
  }
  .first{
    margin:10px 0;
    height:44px;
    width:300px;
    #phone{
      width:100%;
      height:44px;
      padding:6px 0 6px 10px;
      border-radius:0;
      font-size:20px;
      color:#a38989;
      line-height:32px;
      background:#f8f8fa;
    }
  }
  .second{
    margin:10px 0;
    height:44px;
    width:300px;
    #code{
      float:left;
      width:100%;
      height:44px;
      padding:6px 0 6px 10px;
      font-size:20px;
      color:#a38989;
      line-height:32px;
      background:#f8f8fa;
    }
    #btn{
      float:left;
      margin:6px 0 6px -136px;
      background:#f8b50e;
      color:#000;
      width:125px;
      height:32px;
      font-size:16px;
      line-height:32px;
      text-align:center;
    }
  }
  .third{
    margin:10px 0;
    height:44px;
    width:300px;
    background:#e92e29;
    text-align:center;
    >span{
      line-height:44px;
      text-align:center;
      font-size:30px;
      color:#fff;
    }
  }
  .register span.words{
    display:block;
    margin: 5px 0;
    width:100%;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight:bold;
    color:#fff;
    text-align:center;
  }
  .zxt_success{
    display:none;
    width:100%;
    img{
      display:block;
      margin:0 auto;
      width:auto;
      height:100%;
    }
    a.close{
      position:absolute;
      font-family: "\5FAE\8F6F\96C5\9ED1", "΢���ź�", "Microsoft YaHei", Helvetica, Tahoma, sans-serif;
      right:0;
      top:0;
      width:40px;
      height:40px;
      color:#000;
      background:#fff;
      border-radius:50% 50%;
      line-height: 40px;
      text-align: center;
      font-size:24px;
    }
  }
}